---
layout: default
---
<!-- hero -->

<div class="row">
    <section class="hero home col-xs-24">
      <div class="branding">
          <p class="black"></p>
          <h1 class="regular">Gehäuse aufbrechen, Technik mitgestalten</h1>
      </div>
    </section>
</div>
<!-- intro -->
<div class="row" id="about">
    <section class="section first home-aims-list col-xs-24">
        <div class="content-wrap">
            <p>Hier fasse ich, Maximilian Voigt, Texte & Talks zusammen, in denen ich mich mit der Aneignung von Technik durch die Zivilgesellschaft beschäftige und was passieren muss, um das zu erleichtern. Ich arbeite für den <a href="https://okfn.de/" target="_blank">OKF DE e.V.</a>, bin Mitbegründer des <a href="https://fablab-cottbus.de/" target="_blank">FabLab Cottbus e.V.</a> und Vorstand im <a href="https://www.offene-werkstaetten.org/" target="_blank">Verbund Offener Werkstätten e.V.</a><br>Ausbildung: B. Sc. Technikjournalismus an der <a href="https://www.h-brs.de/de" target="_blank">HBRS</a>, M. A. Kultur & Technik an der <a href="https://www.b-tu.de/" target="_blank">BTU</a>.</p>

        </div>
    </section>
    <!--
    <section class="section home-aims-list col-xs-24">
        <h3 class="sub mobil-hide">Maximilian Voigt</h3>
        <div class="col-xs-22 col-sm-20 col-md-10 col-xs-push-1 col-md-push-3 col-sm-push-2">
            <img src="/assets/img/static/mavo.jpg">
        </div>
        <h3 class="sub desktop-hide">Maximilian Voigt</h3>
        <div class="col-xs-24 col-sm-24 col-md-14 col-xs-push-0 col-md-push-0 col-sm-push-0">

            <ul>
                <li>Arbeitet für den <a href="https://okfn.de/" target="_blank">OKF DE e.V.</a></li>
                <li>Mitbegründer des <a href="https://fablab-cottbus.de/" target="_blank">FabLab Cottbus e.V.</li>
                <li>Vorstand im <a href="https://www.offene-werkstaetten.org/" target="_blank">Verbund Offener Werkstätten e.V.</a></li>
                <li>B. Sc. Technikjournalismus an der <a href="https://www.h-brs.de/de" target="_blank">HBRS</a></li>
                <li>M. A. Kultur & Technik an der <a href="https://www.b-tu.de/" target="_blank">BTU</a></li>

            </ul>
        </div>
    </section>
    -->
</div>

<div class="row" id="content">
    <section class="section col-xs-24">
        <!-- filters -->
        <div class="filter-items green">
            {% include partials/blog-filters.liquid %}
        </div>
        <!-- blog teasers -->
        {% include partials/blog/blog-isotope.liquid %}
    </section>
</div>
