<header class="header">
    <div class="header-inner">
        <a class="signet branding-nav" href="/">
            <img src="/assets/img/static/mavo.jpg">
        </a>

        <ul class="main-nav">
            {% assign base_dir = page.url | split:'/'  %}
            {% assign base_dir = base_dir  %}
            <li {% if base_dir[1] == 'content' %} class="current" {% endif %}><a href="/#content">Texte & Talks</a></li>
            <li {% if base_dir[1] == 'about' %} class="current" {% endif %}><a href="/#about">About</a></li>
            <li {% if base_dir[1] == 'contact' %} class="current" {% endif %}><a href="#contact">Kontakt</a></li>
        </ul>

        <div class="nav-toggle"><span></span></div>
    </div>
</header>
