.hero {
  .logo {
    width: 50vw;
  }
  &.home{
      p{
        height: 200px;
        padding-top: 100px;
        text-decoration: none;
        color: $black;
        font-family: $heading-font;
        font-weight: 700;
        line-height: 30px;
        font-size: 2.2rem;
        text-transform: uppercase;
        text-align: left !important;

      }
      h1 {
        text-align: left !important;
        font-size: 1.5rem !important;
        line-height: 1em !important;
      }
      .branding{
        h1 {
          text-align: center !important;
          font-size: 4rem !important;
          line-height: 1em !important;
        }
      }
    }
}

.filter-items {
  display: inline-block;
  width: 90%;

  .filter-item {
    font-size: 2.0em;
    padding: 5px 15px;
    color: white !important;
    font-weight: bold;
  }
}
.header {
    .branding-nav {
      font-size: 2.0rem;
      line-height: 1.1em;

      margin-top: 10px;
      margin-left: 5px;
    }
}
.home-aims-list{
    img{
        width: 40%;
    }
  .sub{
    &.mobil-hide {
        display: none;
    }
    &.desktop-hide {
        display: block;
    }
  }
}

